absl-py
appdirs
astor
attrs
certifi
cycler
decorator
gast
grpcio
h5py
imageio
joblib
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
natsort
networkx
numpy
openvino
passlib
Pillow
protobuf
psycopg2
pyparsing
python-dateutil
pytz
PyWavelets
pyzmq
scikit-image
scikit-learn
scipy
six
SQLAlchemy
tensorboard
tensorflow
termcolor
Unidecode
Werkzeug
wincertstore
dataclasses
unidecode
pdfkit
fpdf
psutil
plumbum
pymodbus
pytest-benchmark
Flask
Flask-Bootstrap
Flask-Login
Flask-Mail
flask-paginate
Flask-SocketIO
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
email_validator
icecream
selenium
waitress
python-logstash
stopit
pydantic